<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834150523273-o3laq5citgetap51m7q3622849f1hckb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834150523273-o3laq5citgetap51m7q3622849f1hckb</string>
	<key>API_KEY</key>
	<string>AIzaSyDvNHSUqvBCOGj301vWqN-yyKiPF7V3zeU</string>
	<key>GCM_SENDER_ID</key>
	<string>834150523273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>vcrting-first</string>
	<key>STORAGE_BUCKET</key>
	<string>vcrting-first.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834150523273:ios:bf762a47455839d2a18158</string>
	<key>DATABASE_URL</key>
	<string>https://vcrting-first.firebaseio.com</string>
</dict>
</plist>